body{text-align:center;}
#ft{clear:both;}

#doc,#doc2,#doc3,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7 {
   
    margin:auto;
  margin-top: 10px;
  text-align:left;
  width:100%;
  min-width:760px;

}
/* 950 centered */ 

#yui-main 
.yui-t1 #yui-main,

.yui-t1 .yui-b {

  
  float:left;
    width:19%;
  margin-right:0.2%;
  margin-top: 5px;

    

    }

.yui-t1 .yui-a {

  float:left;
    width:53%;
  margin-right:0.2%;
  margin-top: 5px;}
.yui-t1 .yui-c {
  
  float:left;
    width:27.6%;
  margin-top: 5px;}


/* Basic Element Formatting */


body {
  
    background-color: #1C1C1C;
}

.font{
    font-family: "supermarket";
   
    font-size: 2.5vmin;

}
.font2{
    font-family: "supermarket";
      line-height: 30%;
    font-size: 2.5vmin;

}

.font1{
    font-family: "supermarket";
   line-height: 60%;
    font-size: 5vmin;

}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height:100%;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font: bold 1.5vmin arial, helvetica, sans-serif;
    font-weight: bold;
    color: #456FA8;
}

.wrapper-dropdown-5 {
    /* Size and position */
   
    width: 100%;
    margin: 0.0001%;
    height:100%;
    /* Styles */
    background: #1C1C1C;
    border-radius:10px;
    border: 2px solid #B3C230;
    box-shadow: 0 0.1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    
    font-weight: bold;
    color: #FFFFF0;
}
.wrapper-dropdown-6 {
    /* Size and position */
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 2%;
    height:100%;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #456FA8;

}
.wrapper-dropdown-2 {
    /* Size and position */
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 2%;
    height:100%;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #456FA8;
}
.button{

  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 3% 5%;
  margin: 0;
  cursor: pointer;
  border: 0.1% solid #bbb;
  overflow: visible;
  font: bold 1.8vmin arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: linear-gradient(top, rgba(255,255,255,1),
                                         rgba(255,255,255,0)),
                    url(data:image/png;base64,iVBORw0KGg[...]QmCC); 
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
              0 2px 2px -1px rgba(0, 0, 0, .5),
              0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);  
}



.button:hover{
  background-color: #eee;
  color: #555;
}

.button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button.small{
  padding: 4px 12px;
}

/* Larger buttons styles */
.button.large{
  padding: 12px 30px;
  text-transform: uppercase;
}

.button.large:active{
  top: 2px;
}
.button.color{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(top, rgba(255,255,255,.3), 
             rgba(255,255,255,0)),
                    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
}

/* */

.button.green{
  background-color: #B3C230;
  border-color: #B3C230;
}

.button.green:hover{
  background-color: #62c462;
}

.button.green:active{
  background: #57a957;
}

/* */

.button.red{
  background-color: #D93A2E;
  border-color: #D93A2E;
}

.button.red:hover{
  background-color: #ee5f5b;
}

.button.red:active{
  background: #c43c35;
}

/* */

.button.blue{
  background-color: #269CE9;
  border-color: #269CE9;
}

.button.blue:hover{
  background-color: #70B9E8;
}

.button.blue:active{
  background: #269CE9;
}





@font-face {
    font-family:"supermarket";
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

#header{

  margin-left:auto; 
    margin-right:auto;
  height:10%;
  background-color:#0c0c0c;
}
  
  
#header h1{
  font-size:1em;
  margin:0;
}


  
#header h1 a{
  color:#000000;
  background-color:#e1f5fe;

}

#input{
  
   min-height:1000px;
    max-height: 1000px;
	background-color: #0c0c0c;
    background-size: 100%;
    /*background-color: black;*/
	margin-bottom:10px; 
	padding-right:5%; 
   	padding-left:5%;
    border:5px solid rgba(0,0,0,0.40);
    overflow: auto;
}
  
#graph{
  
  z-index:-1; 
 
    height:1000px;
  /*width:815px;*/
  background-color:#111111;
  margin-bottom:10px;
  overflow: auto;
  text-align: center;
    border:5px solid rgba(0,0,0,0.40);
}


#output{
  
  height:100%;
    height:513px;
	background-color:#0c0c0c;
	margin-bottom:1%;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-word;
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    border:5px solid rgba(0,0,0,0.40);
}

#scollbar{
    height: 150px;
    background-color:#0c0c0c;
    margin-bottom:1%;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    border:5px solid rgba(0,0,0,0.40);
}
#summarize{
    height: 250px;
    background-color:#0c0c0c;
    margin-bottom:1%;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-word;
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    border:5px solid rgba(0,0,0,0.40);
}

#checkboxbar{
    overflow: auto;
    height: 150px;
}

#colorpane{

    float:right;
    height: 165px;
    width: 100%;
    border: 1px white solid;
    background: grey;
    overflow: auto;
}

#colorpane2{

    float:right;
    height: 165px;
    width: 100%;
    border: 1px white solid;
    background: grey;
    overflow: auto;
}

#colorpane3{

    float:right;
    height: 165px;
    width: 100%;
    border: 1px white solid;
    background: grey;
    overflow: auto;
}

.headNodeSheet{
    width:100%;
    height:20px;
    border-radius:7.5px;
    background: grey;
    color:white;
    margin: 7px;
}


.nodeSheet{
    width: 100%;
    height: 15px;
    background: grey;
    margin: 5px;
    display: inline-block;
}
.nodeSheet .left{
    float: left;
    width:12%;
    height:15px;
    border-radius:14.5px;
    color:white;
    margin: 5px;
    display: inline;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right11{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right12{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right13{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right14{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right15{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right16{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right17{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right18{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right19{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right20{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right21{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right22{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right23{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right24{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right25{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right26{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right27{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right28{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right29{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right30{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

//--------------------------------------------------------------------------------------------
.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right0{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right1{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right2{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right3{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right4{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right5{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right6{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right7{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right8{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right9{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.nodeSheet .right10{
    float: left;
    width:60%;
    height:15px;
    background: grey;
    margin: 5px;
    display: inline;
    text-align: start;
}

.headNodeType{
    width:100%;
    height:20px;
    border-radius:7.5px;
    background: grey;
    color:white;
    margin: 7px;
}

.nodeType{
    width: 100%;
    height: 15px;
    background: grey;
    margin: 5px;
    display: inline-block;
}

.nodeType .left0{

    float: left;
    width:9%;
    height:11px;
    border-radius:15px;
    border: 2.5px solid #000;
    color:white;
    margin: 1px;
    display: inline;
}

.nodeType .right0{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.nodeType .left1{
    float: left;
    width:9%;
    height:11px;
    border-radius:15px;
    border: 2.5px solid #40FF00;
    color:white;
    margin: 1px;
    display: inline;
}

.nodeType .right1{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.nodeType .left2{
    float: left;
    width:9%;
    height:11px;
    border-radius:15px;
    border: 2.5px solid #387E0C;
    color:white;
    margin: 1px;
    display: inline;
}

.nodeType .right2{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.nodeType .left3{
    float: left;
    width:9%;
    height:11px;
    border-radius:15px;
    border: 2.5px solid #1C27BF;
    color:white;
    margin: 1px;
    display: inline;
}

.nodeType .right3{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.headLinkType{
    width:100%;
    height:20px;
    border-radius:7.5px;
    background: grey;
    color:white;
    margin: 7px;
    margin-bottom: -9px;
}

.linkType{
    width: 100%;
    height: 40%;
    background: grey;
    margin: 5px;
    display: inline-block;
}

.linkType .left1{
    float: left;
    width:10%;
    height:15px;
    background: green;
    color:white;
    margin: 1px;
    display: inline;
}

.linkType .right1{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.linkType .left2{
    float: left;
    width:10%;
    height:15px;
    background: orange;
    color:white;
    margin: 1px;
    display: inline;

}

.linkType .right2{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.linkType .left3{
    float: left;
    width:10%;
    height:15px;
    background: red;
    color:white;
    margin: 1px;
    display: inline;
}

.linkType .right3{
    float: left;
    width:80%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}


.headNodeMeaning{
    width:100%;
    height:20px;
    border-radius:7.5px;
    background: grey;
    color:white;
    margin: 7px;
    margin-bottom: -9px;
}

.nodeMeaning{
    width: 100%;
    height: 40%;
    background: grey;
    margin: 5px;
    display: inline-block;
}

.nodeMeaning .left1{
    float: left;
    width:12%;
    height:15px;
    border-radius:14.5px;
    color:white;
    margin: 1px;
    display: inline;
}

.nodeMeaning .right1{
    float: left;
    width:72%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.nodeMeaning .left2{
    float: left;
    width:12%;
    height:15px;
    border-radius:14.5px;
    color:white;
    margin: 1px;
    display: inline;

}

.nodeMeaning .right2{
    float: left;
    width:72%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

.nodeMeaning .left3{
    float: left;
    width:12%;
    height:15px;
    border-radius:14.5px;
    color:white;
    margin: 1px;
    display: inline;
}

.nodeMeaning .right3{
    float: left;
    width:72%;
    height:15px;
    background: grey;
    margin-left: 0px;
    display: inline;
    text-align: start;
}

